- let nombreSitio = 'funCody';
- let descripcionSitio = 'Desarrollo a medida';
- let tituloPagina = 'Bienvenidos';
- let paginaActual = 'Home page';
- let seccion = 'general';
- let cabeceraSeccion = 'general';
- let faviconSeccion = 'general';

- let metaDescription = 'Empresa de desarrollo de aplicaciones web, desarrollo apps, diseño web';
- let keyWords = 'desarrollo aplicaciones web, desarrollo apps, diseño web, empresa desarrollo aplicaciones web, empresa desarrollo APPs, empresa diseño Web, empresa desarrollo Drupal, empresa desarrollo Joomla, desarrollo web joomla, web joomla, diseño joomla, web wordpress, desarrollo web wordpress, diseño wordpress,  desarrollo aplicaciones móviles, desarrollo aplicaciones gestión, marketing online, posicionamiento SEO, formación joomla, aplicaciones multiplataforma, aplicaciones hibridas, empresa jáen, desarrollo web php jaén';


//- //////////////////////////////////////////////
//- MUY IMPORTANTE - Antes de publicar en el servidor, dejar en blanco el valor entre comillas --> ''.
//- Esto es un truco que se ha tenido que realizar para que el localhost de intellij muestre el previo del la web.
//- Ruta para que haga el previo: '/funcody.com/public'
- let previoLocalHost = '/funcody.com/public';


