section.bloque_algunos_de_nuestros_proyectos
    article.contenedor-principal
        div.contenedor-rotulo-servicios
            p Paginas web en Jaén
        section.textos
            h2.encabezado-proyectos Algunos de nuestros proyectos
    article.contenedor-principal.contenedor-proyectos
        section.proyectos
            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/bodytone/body1.jpg" data-fancybox="gallery01")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/bodytone.jpg" alt="bodytone")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/bodytone/body2.jpg" data-fancybox="gallery01")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/bodytone/body3.jpg" data-fancybox="gallery01")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/bodytone/body4.jpg" data-fancybox="gallery01")
            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/javier/javier01.jpg" data-fancybox="gallery02")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/javiercuadros.jpg" alt="javiercuadros")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/javier/javier02.jpg" data-fancybox="gallery02")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/javier/javier03.jpg" data-fancybox="gallery02")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/javier/javier04.jpg" data-fancybox="gallery02")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/javier/javier05.jpg" data-fancybox="gallery02")
            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/kensingtonsite/kensingtonsite01.jpg" data-fancybox="gallery03")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/kensingtonsite.jpg" alt="kensingtonsite")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/kensingtonsite/kensingtonsite02.jpg" data-fancybox="gallery03")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/kensingtonsite/kensingtonsite03.jpg" data-fancybox="gallery03")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/kensingtonsite/kensingtonsite04.jpg" data-fancybox="gallery03")
            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/murciasobreruedas/murciasobreruedas01.jpg" data-fancybox="gallery04")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/murciasobreruedas.jpg" alt="murciasobreruedas")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/murciasobreruedas/murciasobreruedas02.jpg" data-fancybox="gallery04")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/murciasobreruedas/murciasobreruedas03.jpg" data-fancybox="gallery04")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/murciasobreruedas/murciasobreruedas04.jpg" data-fancybox="gallery04")

            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/paleoymas/paleoymas01.jpg" data-fancybox="gallery05")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/paleoymas.jpg" alt="paleoymas")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/paleoymas/paleoymas02.jpg" data-fancybox="gallery05")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/paleoymas/paleoymas03.jpg" data-fancybox="gallery05")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/paleoymas/paleoymas04.jpg" data-fancybox="gallery05")
            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/raftingmurcia/raftingmurcia01.jpg" data-fancybox="gallery06")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/raftingmurcia.jpg" alt="rafting-murcia")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/raftingmurcia/raftingmurcia02.jpg" data-fancybox="gallery06")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/raftingmurcia/raftingmurcia03.jpg" data-fancybox="gallery06")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/raftingmurcia/raftingmurcia04.jpg" data-fancybox="gallery06")
            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/rimmel/rimmel01.jpg" data-fancybox="gallery07")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/rimmel.jpg" alt="rimmel")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/rimmel/rimmel02.jpg" data-fancybox="gallery07")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/rimmel/rimmel03.jpg" data-fancybox="gallery07")
            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/soaresmencare/soaresmencare01.jpg" data-fancybox="gallery08")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/soaresmencare.jpg" alt="soaresmencare")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/soaresmencare/soaresmencare02.jpg" data-fancybox="gallery08")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/soaresmencare/soaresmencare03.jpg" data-fancybox="gallery08")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/soaresmencare/soaresmencare04.jpg" data-fancybox="gallery08")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/soaresmencare/soaresmencare05.jpg" data-fancybox="gallery08")
            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/theteamschool/theteamschool01.jpg" data-fancybox="gallery09")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/theteamschool.jpg" alt="theteamschool")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/theteamschool/theteamschool02.jpg" data-fancybox="gallery09")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/theteamschool/theteamschool03.jpg" data-fancybox="gallery09")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/theteamschool/theteamschool04.jpg" data-fancybox="gallery09")
            div.proyecto
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/360gradosevents/360-1.jpg" data-fancybox="gallery10")
                    img(src= previoLocalHost + "/lib/img/02_bloques/proyectos/miniaturas/360-1-miniatura.jpg" alt="theteamschool")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/360gradosevents/360-2.jpg" data-fancybox="gallery10")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/360gradosevents/360-3.jpg" data-fancybox="gallery10")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/360gradosevents/360-4.jpg" data-fancybox="gallery10")
                a(href= previoLocalHost + "/lib/img/02_bloques/proyectos/360gradosevents/360-5.jpg" data-fancybox="gallery10")


