section.bloque_como_es_el_proceso
    article.contenedor-principal
        h2.prologo ¿Cómo es el proceso?
        section.procesos
            article.proceso(data-aos="fade-zoom-in" data-aos-offset="300" data-aos-duration="600")
                div.numero-fase
                    span.numero 01
                    span.fase Preparamos
                div.descripcion
                    p La primera fase será la de hacerte muchas preguntas y recoger toda la información posible sobre el proyecto.
                    p Después, recopilaremos todo el material necesario: imágenes para las secciones, logotipo, textos, videos, etc.
                div.imagen
                    img(src= previoLocalHost + "/lib/img/02_bloques/proceso/preparamos.jpg" alt="diseño web")
            article.proceso(data-aos="fade-zoom-in" data-aos-offset="300" data-aos-duration="600")
                div.numero-fase
                    span.numero 02
                    span.fase Desarrollamos
                div.descripcion
                    p Seguidamente abriremos un espacio de trabajo conjunto el que iremos analizando el progreso del proyecto.
                    p Una vez acabado el prototipo, será el momento de pasar al desarrollo definitivo del sitio web.
                div.imagen
                    img(src= previoLocalHost + "/lib/img/02_bloques/proceso/desarrollamos.jpg" alt="diseño web")
            article.proceso(data-aos="fade-zoom-in" data-aos-offset="300" data-aos-duration="600")
                div.numero-fase
                    span.numero 03
                    span.fase Publicamos
                div.descripcion
                    p Para esta etapa, tendremos desarrollada tanto la versión web como la de dispositivos móviles.
                    p Nos dedicaremos a trabajar el SEO, a pulir la velocidad de carga de la web y comprobar que todo está funcionando correctamente.
                div.imagen
                    img(src= previoLocalHost + "/lib/img/02_bloques/proceso/publicamos.jpg" alt="diseño web")

