footer.footer
    div.contenedor-principal
        section.contenedor-bloques-footer

            article.empresa
                ul
                    li
                        a.link-logo(href= previoLocalHost + "/index.html")
                            div.logo-footer
                                img(src= previoLocalHost + '/lib/img/03_base/logo/footer/logo.png')

                    li
                        p Desarrollo web, SEO, tiendas online y mantenimiento para negocios, profesionales independientes, freelancers, proyectos personales y startups.

            article.contenedor-que-hacemos
                ul
                    li
                        span.titulo-bloques-informativos ¿Que hacemos?
                        div.barrita-subraya-color
                    li
                        a(href= previoLocalHost + '/pages/web/disenio-web.html')
                            | Diseño web
                    li
                        a(href=previoLocalHost + '/pages/web/web-empresa.html')
                            | Web empresa
                    li
                        a(href=previoLocalHost + '/pages/web/tiendas-online.html')
                            | Tiendas online
                    li
                        a(href=previoLocalHost + '/pages/web/disenio-medida.html')
                            | Diseño a medida
                    li
                        a(href= previoLocalHost + '/pages/mantenimiento/mantenimiento.html')
                            | Matenimiento
                    li
                        a(href= previoLocalHost + '/pages/marketing/posicionamiento-seo.html')
                            |   Posicionamiento SEO
                    li
                        a(href= previoLocalHost + '/pages/marketing/trafficker-digital.html')
                            | Trafficker digital
                    li
                        a(href= previoLocalHost + '/pages/marketing/produccion-audiovisual.html')
                            | Producción audiovisual
                    li
                        a(href= previoLocalHost + '/pages/marketing/fotografia-producto.html')
                            | Fotografía de producto

            article.contenedor-nosotros
                ul
                    li
                        span.titulo-bloques-informativos Nosotros:
                        div.barrita-subraya-color
                    li
                        a(href= previoLocalHost + '/pages/contacto/contacto.html')
                            | Contacto
                    li
                        a(href= previoLocalHost + '/pages/blog/blog.html')
                            | Blog
                    li
                        a(href= previoLocalHost + '/pages/area-cliente/area-cliente.html')
                            | Area de clientes
                    li
                        a(href= previoLocalHost + '/pages/legal/aviso-legal.html')
                            | Política de privacidad

            article.contenedor-encuentranos
                ul
                    li
                        span.titulo-bloques-informativos Encuéntranos:
                        div.barrita-subraya-color

                    li
                        a(href= previoLocalHost + "/index.html") funCody - Desarrollo a medida
                    li
                        a(href="https://goo.gl/maps/cnxWksMxsRxqak8t8" target="_blank") Pintor Romero de Torres, nº 15, 23700 Linares (Jaén)
                    li Teléfono:
                        a(href="tel:637744494")  637744494
                    li Email:
                        a(href="mailto:funcody.contacto@gmail.com")  funcody.contacto@gmail.com

            article.redes-sociales-footer
                    ul
                        li
                            span.titulo-bloques-informativos Síguenos en las redes sociales:
                            div.barrita-subraya-color
                        li
                            ul
                                li
                                    a(href='https://www.facebook.com/funCody' target="_blank")
                                        div.facebook-footer
                                            i.fab.fa-facebook-square
                                li
                                    a(href='https://www.instagram.com/funcody_/' target="_blank")
                                        div.instagram-footer
                                            i.fab.fa-instagram-square
                                li
                                    a(href='https://twitter.com/funCody_' target="_blank")
                                        div.twitter-footer
                                            i.fab.fa-twitter-square
                                li
                                    a(href='https://www.linkedin.com/in/funcody-desarrollo-a-medida-75b693203/' target="_blank")
                                        div.twitter-footer
                                            i.fab.fa-linkedin

    section.copyright
        p#copyright &copy; funCody -
            script.
                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            |     | Todos los derechos reservados