section.bloque_desarrollo_web_comienzo(data-aos="fade-zoom-in" data-aos-duration="1000")
    article.contenedor-principal
        .textos-central(data-aos="fade-zoom-in" data-aos-duration="2000")
            h1.titulo-web Desarollo web y seo
            p.subtitulo-web Bienvenido/a al lugar en donde las ideas toman forma
            p.descripcion Desarrollo web, SEO, tiendas online y mantenimiento para negocios, profesionales independientes, freelancers, proyectos personales y startups.
