section.bloque_informacion_empresa
    article.contenedor-principal
        section.contenedor-rotulo-servicios
            p.enunciado-seo diseño web jaén
            h2.prologo Diseño web, seo y marketing online
        section.caracteristicas-informacion-empresa
            div.info-empresa(data-aos="fade-zoom-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="600")
                p.info-empresa-texto ¡Hola!, somos funCody, una empresa de desarrollo con un toque diferente.
                i(class="far fa-laugh-wink")
            div.info-empresa(data-aos="fade-zoom-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="600")
                p.info-empresa-texto Estamos especializados en el diseño y desarrollo de sitios web modernos, tiendas online (ecommerce), marketing digital y producción fotográfica y audiovisual, las herramientas necesarias para impulsar tu proyecto de manera online.
                i(class="fas fa-poll")
            div.info-empresa(data-aos="fade-zoom-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="600")
                p.info-empresa-texto Si estas buscando una web elegante, práctica, amigable y rentable, has llegado al lugar adecuado, sé bienvenid@.
                i(class="fas fa-cog")
        section.boton
            a(href="pages/contacto/contacto.html").link-boton ¿Hablamos?

