section.bloque_que_hacemos_por_ti
    article.contenedor-principal
        div.contenedor-rotulo-servicios
            p.enunciado-seo Diseño web, seo y marketing online en Jaén
        h2.prologo ¿Qué podemos hacer por ti?

        article.contenedor-servicio-imagen
            div.servicio
                div.contenedor-servicio
                    div.linea-color
                    p.nombre-servicio Páginas web
                    div.textos-servicio
                        p.texto Desarrollamos el sitio web que tu empresa necesita para tu imagen online.
                        p.texto Una web adaptada a todos los dispositivos y optimizada para lograr un buen posicionamiento.
                        p.texto Lista para lograr resultados desde el primer momento.
                    div.boton
                        a(href="pages/web/disenio-web.html").link-boton Quiero mi web
            div.imagen(data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine")
                img.imagen-paginas-web(src="lib/img/01_paginas/index/servicios/disenio_web.jpg" alt="diseño web")
                div.color-paginas-web

        article.contenedor-servicio-imagen
            div.servicio
                div.contenedor-servicio
                    div.linea-color
                    p.nombre-servicio Marketing online
                    div.textos-servicio
                        p.texto Nuestro objetivo es crear la mejor estrategia  de marketing para conseguir potenciar tu marca y hacerla crecer.
                        p.texto Te hacemos partícipe de tu propia estrategia de marketing y trabajamos junto a ti para mejorar los resultados mes a mes.
                    div.boton
                        a(href= previoLocalHost + '/pages/marketing/posicionamiento-seo.html').link-boton + información
            div.imagen(data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine")
                img.imagen-marketing(src="lib/img/01_paginas/index/servicios/marketing.jpg" alt="diseño web")
                div.color-marketing

        article.contenedor-servicio-imagen
            div.servicio
                div.contenedor-servicio
                    div.linea-color
                    p.nombre-servicio Tienda online (Ecommerce)
                    div.textos-servicio
                        p.texto ¡Buena idea!, hoy en día es un gran canal para ofrecer tus productos.
                        p.texto Te ayudamos a abrir tu tienda online de la forma más sencilla posible. Autogestionable e intuitiva para que no tengas que preocuparte de nada.
                    div.boton
                        a(href=previoLocalHost + '/pages/web/tiendas-online.html').link-boton quiero mi tienda
            div.imagen(data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine")
                img.imagen-paginas-tienda-online(src="lib/img/01_paginas/index/servicios/ecommerce.jpg" alt="diseño web")
                div.color-tienda-online


