extends  ../templates/template


//- append para ir al final y sobreescribimos lo que deseemos
append ../includes/config
    //- Título de la página
    - descripcionSitio = 'Desarrollo a medida'
    //- Para añadir una clase al elemento que queramos en el template
    - paginaActual = 'inicio'
    - rutaLogoCabecera = 'logo.png'

append styles
    //link(rel='stylesheet' type='text/css' href='lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='lib/css/font-awesome/css/all.css')
    link(rel='stylesheet' type='text/css' href='lib/css/owlcarousel/owl.carousel.css')
    link(rel='stylesheet' type='text/css' href='lib/css/owlcarousel/owl.theme.default.css')
    link(rel='stylesheet' type='text/css' href='lib/css/fancybox/jquery.fancybox.min.css')
    link(rel='stylesheet' type='text/css' href='lib/css/aos/aos.css')


block contenido
    main.main-contenido

        // bloque_desarrollo_web_comienzo
        include ../includes/componentes/bloques/index/desarrolloWebComienzo
        // bloque_información_empresa
        include ../includes/componentes/bloques/index/informacionEmpresa
        // bloque_que_hacemos_por_ti
        include ../includes/componentes/bloques/index/queHacemosPorTi
        // Déjanos tu teléfono
        include ../includes/componentes/bloques/genericos/dejanosTuTelefono
        // Déjanos tu teléfono
        include ../includes/componentes/bloques/genericos/telefonoEnviado
        // bloque_como_es_el_proceso
        include ../includes/componentes/bloques/genericos/comoEsElProceso
        // bloque_comentarios_clientes
        include ../includes/componentes/bloques/genericos/comentariosClientes
        // bloque_nuestras_herramientas
        include ../includes/componentes/bloques/genericos/nuestraCajaDeHerramientas
        // bloque_algunos_de_nuestros_proyectos
        include ../includes/componentes/bloques/genericos/algunosDeNuestrosProyectos
        // bloque_mensaje_enviado
        include ../includes/componentes/bloques/genericos/mensajeEnviado
        // Formulario contacto
        include ../includes/componentes/bloques/contacto/formularioContacto


block scripts
    //script(type='text/javascript' src='lib/bootstrap/js/bootstrap.js')
    script(type='text/javascript' src='lib/js/jquery/jquery-3.5.1.min.js')
    script(type='text/javascript' src='lib/js/masonry/jquery.masonryGrid.js')
    script(type='text/javascript' src='lib/js/masonry/script.llamada.maso<nry.js')
    script(type='text/javascript' src='lib/js/fancybox/js/jquery.fancybox.min.js')
    script(type='text/javascript' src='lib/js/fancybox/js/script.llamada.fancybox.js')
    script(type='text/javascript' src='lib/js/owlcarousel/owl.carousel.min.js')
    script(type='text/javascript' src='lib/js/owlcarousel/script.llamada.owlcarousel.js')
    script(type='text/javascript' src='lib/js/scripts.js')
    script(type='text/javascript' src='lib/js/aos/aos.js')
    script.
        AOS.init({
            duration: 600,
            once: true
        });
